body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	background-color: whitesmoke;
}


header{
	padding-top: 20px;
	text-align: center;
}

h1, h2{
	font-family: 'Helvetica'
}

h3, p, ul, ol{
	font-family: 'Helvetica'
}

header h1{
	font-size: 50px;
	color: #367c9f;
	font-family: 'Helvetica', 'Arial', sans-serif;
	webkit-text-fill-color: transparent;
  	-webkit-text-stroke: 1px;
  	-webkit-text-stroke-color: black;
}


header img{
	max-width: 100px;
	border-radius: 70px;
	border: 5px solid black;
}


main{max-width: 800px;
margin: 0 auto;
padding: 20px;
}

main img{
	max-width: 100%;
}

h1{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

h2{
	margin: 10px;
	font-size: 30px;
color: black;
}

footer a{
	color: white;
}

footer a:hover{
	color: black;
	font-style: normal;
}

a{
	color: teal;
}

a:hover{
	color: orange;
}

footer{
	background-color: teal;
	color: white;
	text-align: center;
	padding: 20px;
}

footer p{
	padding: 0;
}

p.caption{color: #999999;
	font-size: 75%;
font-style: italic;
margin-top: 0;
}


label{
	font-family: 'Helvetica';
	color: black;
	font-size: 20px;

}

