
h1{font-size: 30px;
	color: #1DDECC;
}
h2{font-size: 20px;
	color: navy;
}
h3{font-size: 50px;
	color: darkcyan;
}
.big{
font-size: 60px;
}
.uppercase{text-transform: uppercase;
}

span{color: forestgreen;
}
p span{color: firebrick;
}